html {
  font-size: 24px;
}

body {
  margin: 0 auto;
}

.container, .page-container {
    width: 750px;
    margin: 0 auto;
}

.shadow {
  /*box-shadow: 0 0 100px #ddd;*/
  box-shadow:0 4px 76px 0 rgba(0,0,0,0.07);
}

.bte-cost {
  background-color: #5672d8;
  color: white;
  padding: 1rem;
  /* @todo 阴影 */
  /*box-shadow: 0px 15px 40px -5px #ccc;*/
  box-shadow:0 4px 28px 0 rgba(0,0,0,0.17);
}

.bte-cost .cost-left .epoch-name {
  opacity: 0.6;
}

.bte-cost .cost-left .epoch-number {
  opacity: 1;
}

.bte-cost .cost-right {
  text-align: right;
}

.bte-cost .cost-title {
  text-align: center;
}

.pool-info-link {
  background-color:  #5672d8;
  border-color: white;
  color: white;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  opacity: 0.6;
}

.pool-info-link:hover,
.pool-info-link:active,
.pool-info-link:focus {
  color: white;
  border-color: white;
}

.cost-chart-container {
}

.current-mining-account {
  padding-top: 1rem;
}

.current-mining-account .text-label {
  line-height: 3rem;
}

.current-mining-account input {
  height: 3rem;
  font-size: 1.2rem;
  padding: 1.5rem;
  box-shadow:0 0 150px 0 rgba(67,73,106, 0.2);
  border: none;
  border-radius: 8px;
}

.current-mining-account .el-input__icon {
  font-size: 1rem;
}

.account-mining-info {
  padding: 1rem;
  margin-bottom: 5rem;
}

.mining-info-wrapper {
  padding: 0 1rem;
}

.currency-logo img {
  width: 2.3rem;
  height: 3.1rem;
}

.account-balance {
  margin-top: 1rem;
  padding: 1rem;
}

.account-balance .balance {
  padding: 0.5rem 0;
  color: #88889c;
}

.account-balance .currency-logo {
  padding: 0.1rem;
  float: left;
}

.account-balance .right {
  float: left;
}

.account-balance .title {
  font-weight: bold;
}

.mining-info-wrapper .mining-info {
  /*border: 1px solid #ddd;*/
  border-radius: 10px;
  padding: 1rem;
}


.mining-actions {
  position: fixed;
  bottom: 0;
  width: 750px;
  padding: 0.8rem 0rem;
  /*box-shadow: 0 -16px 39px -3px #dbd0f7, 0 0 51px 20px #d0c7f7 inset;*/
  background:#eceffc;
  box-shadow:0 2px 28px 0 rgba(88,116,216,0.38);
  text-align: center;
}

.mining-actions button {
  width: 90%;
  height: 88px;
  font-size: 1.33rem;
  border-radius: 8px;
  box-shadow:0 0 80px 0 rgba(111,133,255,0.30);
  border: none;
}

.mining-actions .redeem-btn {
  color: #5874d8;
}

.mining-actions .mining-btn {
  background: #5874d8;
  color: white;
}

.mining-info .mining-title {
  line-height: 2rem;
  font-size: 1.1rem;
}

.mining-info table.data-list {
  border-collapse: collapse;
}

.mining-info .data-list td {
  border-bottom: 2px solid #ddd;
  line-height: 3rem;
}

.dot {
  font-size: 0;
  left: 0px;
  line-height: 0;
  position: relative;
  top: -2px;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  background:#f00;
  border: 6px solid #7ed321;
  display: inline-block;
  margin-right: 0.5rem;
}

.yellow-border {
  border-color: #fece3f;
}

.blue-border {
  border-color: #4da1ff;
}

#cost-chart {
  height: 400px;
}

@media (max-width: 749px) {
  html {
    font-size: 12px;
  }

  .container {
    width: 100%;
  }

  .mining-actions {
    width: 100%;
  }

  .mining-actions button {
    height: 4rem;
  }
}


@media (max-width: 320px) {
  .container {
    width: 320px;
  }

  .mining-actions {
    width: 320px;
  }
}
